body {
  background-image: url("https://i.pinimg.com/originals/85/6f/31/856f31d9f475501c7552c97dbe727319.jpg");
  background-size: cover;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  text-align: center;
  color: #434242;
}
.container {
  max-width: 500px;
  margin-top: 65px;
  display: flex;
  justify-content: center;
}
.card {
  max-width: 100%;
  width: 40rem;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 168, 114) 0%,
    rgb(254, 106, 164) 100.2%
  );
  opacity: none;
  border-radius: 30px;
}
.card-body {
  max-width: 80%;
  width: 35rem;
  display: block;
  margin: 0 auto;
}
.btn-primary {
  opacity: 0.8;
}
.btn-info {
  opacity: 0.8;
  color: aliceblue;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: block;
}

#current-temp {
  font-size: 40px;
}
#celsius-link {
  font-size: 20px;
}
#fahrenheit-link {
  font-size: 20px;
}
#icon {
  display: block;
  margin: 0 auto;
}
.active {
  color: #434242;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
  color: #434242;
}
.weather-forecast {
  margin: 10px 20px 5px 20px;
  text-align: center;
}
.forecast-date {
  font-size: 17px;
}
.forecast-temp-max,
.forecast-temp-min {
  font-size: 14px;
}
p {
  text-align: center;
  font-size: 12px;
}
